.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto',sans-serif;
}
h1,h2,h3,p {
    margin: 0;
    padding: 0;
}
ul {
    margin: o;
    padding: 0;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* =========HEADER======== */
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-nav {
    display: flex;
    align-items: center;
}
.menu {
display: flex;
align-items: center;
margin-left: auto;
}
.logo {
    margin-right: 76px;
    /* font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD; */
}

.menu-item:not(last-child) {
    margin-right: 40px;
}
    
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.logo-span {
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;


color: #4D5AE5;
}

.logo {
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;

color: #2E2F42;
}


.menu-link {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;

}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contact-mail{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 40px;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.contact-mail:hover,
.contact-mail:focus {
    color: #404BBF;
}
.contact-phone {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-left: auto;
margin-right: 40px;
letter-spacing: 0.02em;

color: #434455;
}

.portfolio {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
    margin-top: 96px;
}
.portfolio-button {
background-color: #F4F4FD;
color: #404BBF;
border-radius: 4px;
border: 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

padding-top: 12px;
padding-bottom: 12px;
padding-left: 24px;
padding-right: 24px;


}
.portfolio-button:hover,
.portfolio-button:focus {
    color: #F4F4FD;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
.contacts-list {
    display: flex;
}

/* =========HEADER======== */

/* =========MAIN========== */

.first-section-name {
    font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
width: 510px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;

}

.first-section {
    background-color: #2E2F42;
    color: #4D5AE5;
    padding-top: 188px;
    padding-bottom: 292px;
    text-align: center;
    
    
}

.modal-button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0;


}

.modal-button:hover,
.modal-button:focus {
    background: #404BBF;
    
}

.second-section-name {
    
font-weight: 500;
font-size: 20px;
line-height: 24px;
margin-bottom: 8px;
letter-spacing: 0.02em;

color: #2E2F42;

}

.second-section-name {

font-weight: 400;
font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;


color: #434455;

}

.hero-title {
    font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;


color: #2E2F42;
}

.name-caracter {
    font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
margin-bottom: 8px;



color: #2E2F42;

}

.text-caracter {
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;


color: #434455;

}


.cards-name {
    font-weight: 500;
font-size: 20px;
line-height: 24px;

letter-spacing: 0.02em;
color: #2E2F42;
    
}
.cards-text {
    font-weight: 400;
font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;

color: #434455;
}
.third-section-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.main-caracter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
}
.last-section {
    background-color: #F4F4FD;
    padding-bottom: 120px;
}
.hero-title {
    font-weight: 700;
font-size: 36px;
line-height: 40px;
margin-bottom: 72px;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: #2E2F42;
}
.third-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.second-section {
padding-top: 120px;
}
.second-menu {
    display: flex;
    gap: 24px;
}
.hero-title-last {
    padding-top: 120px;
    font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
color: #2E2F42;
}
.main-caracter {
    background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.employees-card-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #FFFFFF
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: auto;
    justify-content: center;
}
.employees-card-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid 
    #E7E9FC;
    padding-left: 16px;
}
/*======FOOTER======*/
.last-text {
    font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 264px;
height: 72px;
margin-top: 16px;
letter-spacing: 0.02em;
color: #E7E9FC;
padding-left: 156px;
}

.logo-footer {
    font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
color: #F4F4FD;
padding-left: 156px;
}



.footer-div {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2E2F42;
    
}